<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movfly</title>
    <link rel="stylesheet" href="/stylesheets/StyleCaratula.css">
    <link rel="shortcut icon" href="/images/PAGINA0/logo.ico">
  </head>
  <body>
    <div class="contenedor">
      <img src="/images/PAGINA0/LOGOMOVIFLY.png" alt="" class="logo">
      <h2>"Las mejores series para vos"</h2>
      <h3>B I E N V E N I D O</h3>
      <div class="botones">
        <a href="/series/ingreso" type="button" name="button" class="ingreso">INGRESAR</a>
        <a href="/series/registro" type="button" name="button" class="ingreso">REGISTRARSE</a>
      </div>
    </div>
  </body>
</html>
