<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Movfly</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/stylesheets/pagina5.css">
  <link rel="shortcut icon" href="/images/PAGINA5/logo.ico">
  <script src="/javascripts/pagina5.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <div class="alert alert-light" uk-alert role="alert">
      ¡MÍNIMO 3 CARACTERES!
    </div>
    <header id="header">
      <nav class="barra-navegacion">
        <ul class="ul-logo">
          <li class="li-logo">
            <a href="/series/inicio"><img src="/images/PAGINA5/LOGOMOVIFLY.png" alt="Movfy logo" class="logo"></a>
          </li>
        </ul>
      </nav>
      <nav id="menu-mobile">
          <button class="uk-button uk-button-default" id="menu-desplegable" type="button"> <span uk-icon="menu"></span> </button>
          <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li class="li-menu"><a class="li-black" href="/series/inicio">Home</a></li>
                <li class="li-menu"><a class="li-black" href="/series/generos"> Generos </a></li>
                <li class="li-menu"><a class="li-black" href="/series/busc-avanzado">Buscador</a></li>
                <li class="li-menu"><a class="li-black" href="#flex2">Mi Cuenta</a></li>
              </ul>
          </div>
     </nav>
      <nav>
        <ul class="ul-menu">
          <li class="li-menu"><a class="li-black" href="/series/inicio">Home</a></li>
        <li class="li-menu"><a class="li-black" href="/series/generos">Géneros</a></li>
          <li class="li-menu"><a class="li-black" href="/series/sc-avanzado">Buscador</a></li>
            <li class="li-menu"><a class="li-black" href="/series/favoritos">Favoritos</a></li>
            <li class="li-menu"><a class="li-black" href="/series/resenas">Mis Reseñas</a></li>
            <li class="li-menu"><a class="li-black" href="/series/buscUser">Usuarios</a></li>
        </ul>
      </nav>
      <div class="elbuscador">
        <form class="buscador" action="/series/buscador" method="get">
            <input type="text" name="buscador" value="" class="buscador-simple texto">
            <input type=image src="/images/PAGINA5/buscador.png" width="17" name="" value="Buscar" class="boton">
        </form>
      </div>
    </header>

    <section id="detalle-serie">
      <ul class="detalle-serie">

      </ul>


        <div id="modal-media-video" class="uk-flex-top" uk-modal>
          <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical" >
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      <!-- <video src="https://www.youtube.com/embed/" controls playsinline uk-video id="video"></video> -->
      <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <p uk-margin>
    <a class="uk-button uk-button-default" href="#modal-media-video" uk-toggle>Ver Trailer</a>
    <a class="uk-button uk-button-default" href="#modal-center" uk-toggle>Ver Recomendaciones</a>
      <button type="button" name="button" uk-icon="heart" id="favoritos"> Agregar a favoritos </button>
  
  
<!-- PROGRAMACION II ------------------------------------------------------------------------------------------------------- --> 

        <!-- Armado de las reseñas -->

  <br>
  <br>
    <a class="uk-button uk-button-default" href="#modal-center2" uk-toggle>Ver Reseñas</a>
        
        <!-- Insertar Reseñas -->
    <a class="uk-button uk-button-default" href="#modal-center3" uk-toggle>Agregar Reseña</a>

      <!-- Diseños Armado -->


    <div id="modal-center2" class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" id="modal-reco" >
        <div "uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider class="img-reco">
  
      <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
          <!-- // Aca codigo de reseñas con el for -->

             <% for (let i = 0; i < unUser.resenas.length; i++) { %>
                <li>
                  <%= unUser.resenas[i].texto_resena %>
                </li>

             <% } %>

            

          <!------------------------------------------>
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
     <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  
  </div>
          <button class="uk-modal-close-default" type="button" uk-close id="close"></button>
  
      </div>
  </div>

      <!-- Diseños Insert -->

      <div id="modal-center3" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"  >
          <div "uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider class="img-reco">
    
        <ul class="uk-slider-items ">
            <!-- -------- // Aca codigo de formulario con el for -------- -->

            <form action="/series/guardado_resena" method="POST">
              <input type="hidden" name="id_serie" value="<%=id_serie%>">
              <div>
                  <label for="" class="no_hover" >Email del usuario:</label>
                  <br>
                  <input type="email" name="email" required>
              </div>
              <div>
                  <label for="" class="no_hover">Contraseña:</label>
                  <br>
                  <input type="password" name="contraseña" required>
              </div>
              <div>
                  <label for="" class="no_hover">Comentario:</label>
                  <br>
                  <textarea rows="10" cols="40" name="texto_resena" value="Write something here" required></textarea>
              </div>
              <div>
                  <label for="" class="no_hover">Score:</label>
                    <!---<fieldset class="uk-fieldset">-->
                  <div class="uk-margin">
                            <input class="uk-range" type="range" value="2" min="0" max="10" step="1" name="puntaje_serie">
                        </div>
                    <!--</fieldset>-->
                  
              </div>
              <button type="submit" class="ingreso">ENVIAR</button>
              
              </form>

            <!-- -------- // Fin codigo de formulario con el for -------- -->
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
       <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    </div>
            <button class="uk-modal-close-default" type="button" uk-close id="botoncerrar"></button>
    
        </div>
    </div>
  
 


<!-- ----------------------------------------------------------------------------------------------------- FIN PROGRAMACION II -->



    </p>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" id="modal-reco" >
      <div "uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider class="img-reco">

    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m" id="recomendaciones"  >

    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
   <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
        <button class="uk-modal-close-default" type="button" uk-close id="close"></button>

    </div>
</div>

    </section>




    <footer>
      <img src="/images/PAGINA5/LOGOMOVIFLY.png" alt="">
      <h3>Las mejores series para vos</h3>
    <div class="redes">
      <ul>
        <img src="" alt="">
        <div class="lista">
          <li>
            <a href="https://www.facebook.com/"><img src="/images/PAGINA5/facebook.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.twitter.com/"><img src="/images/PAGINA5/twitter.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.instagram.com/"><img src="/images/PAGINA5/instagram.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.youtube.com/"><img src="/images/PAGINA5/youtube.png" alt=""></a>
          </li>
        </div>
      </ul>
    </div>
    <div class="ul-footer">
      <ul>
        <li class="primero">Contacto</li>
        <li>FAQ</li>
        <li>Política de condidencialidad</li>
        <li>Menciones legales</li>
      </ul>
    </div>
    </footer>
    <div class="post-footer">
        <img src="/images/PAGINA5/logoTMB.png" alt="">
        <div class="nombres">


        <label for="">Mariana Telechea</label>
        <label for="">Agostina Rivas</label>
        <label for="">Milagros Scipioni</label>
        
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>



  </body>
</html>
