<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movfly</title>
    <link rel="stylesheet" href="/stylesheets/StyleCaratula.css">
    <link rel="shortcut icon" href="/images/PAGINA0/logo.ico">
  </head>
  <body>
    <div class="contenedor">
     <img src="/images/PAGINA0/LOGOMOVIFLY.png" alt="" class="logo_ingreso">
    
     <!-- El formulario para la registración  -->

     <!-- En los "name" del input poner siempre el nombre de las columnos del DB para ordenarnos mejor -->

      <form action="/series/guardar" method="POST">
        <label class = "text_regis">Nombre del usuario:</label>
        <input class = "input_ingreso" type="text" name="nombre_usuario" required>
        <br>

        <label class = "text_regis">Apellido del usuario:</label>
        <input class = "input_ingreso" type="text" name="apellido_usuario" required>
        <br>

        <label class = "text_regis">Email:</label>
        <input class = "input_ingreso" type="email" name="email" required>
        <br>

        <label class="text_regis">Contraseña:</label>
        <input class = "input_ingreso" type="password" name="contraseña" required>
        <br>

        <label class="text_regis">Fecha de nacimiento:</label>
        <input class = "input_ingreso" type="date" name="fecha_nacimiento" required>
        <br>

        <button type="submit" class="ingreso">REGISTRARSE</button>

    </form>

        </form>     
    </div>
  </body>
</html>
