<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Movfly</title>
  <link rel="stylesheet" href="/stylesheets/pagina6.css">
  <link rel="shortcut icon" href="/images/PAGINA6/logo.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <script src="/javascripts/pagina6.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <div class="alert alert-light" uk-alert role="alert">
    ¡MÍNIMO 3 CARACTERES!
    </div>
    <header id="header">
      <nav class="barra-navegacion">
        <ul class="ul-logo">
          <li class="li-logo">
            <a href="/series/inicio"><img src="/images/PAGINA6/LOGOMOVIFLY.png" alt="Movfy logo" class="logo"></a>
          </li>
        </ul>
      </nav>

      <nav id="menu-mobile">
              <button class="uk-button uk-button-default" id="menu-desplegable" type="button"> <span uk-icon="menu"></span> </button>
              <div uk-dropdown>
                  <ul class="uk-nav uk-dropdown-nav">
                    <li class="li-menu"><a class="li-black" href="/series/inicio">Home</a></li>
                    <li class="li-menu"><a class="li-black" href="/series/generos"> Generos </a></li>
                    <li class="li-menu"><a class="li-black" href="/series/busc-avanzado">Buscador</a></li>
                    <li class="li-menu"><a class="li-black" href="#flex2">Mi Cuenta</a></li>
                  </ul>
              </div>
          </nav>

      <nav>
        <ul class="ul-menu">
          <li class="li-menu"><a class="li-black" href="/series/inicio">Home</a></li>
        <li class="li-menu"><a class="li-black" href="/series/generos">Géneros</a></li>
          <li class="li-menu"><a class="li-black" href="/series/busc-avanzado">Buscador</a></li>
            <li class="li-menu"><a class="li-black" href="/series/favoritos">Favoritos</a></li>
            <li class="li-menu"><a class="li-black" href="/series/resenas">Mis Reseñas</a></li>
            <li class="li-menu"><a class="li-black" href="/series/buscUser">Usuarios</a></li>
        </ul>
      </nav>
      <div class="elbuscador">
        <form class="buscador" action="/series/buscador" method="get">
            <input type="text" name="buscador" value="" class="buscador-simple texto">
            <input type=image src="/images/PAGINA6/buscador.png" width="17" name="" value="Buscar" class="boton">
        </form>
      </div>
    </header>

    <!------------------------------------- PROGRAMACION II ------------------------------------->


    <section class="busc-usuarios">
      <div class="busc-usuarios">

          <div class="titulo">
            <p>BUSCADOR DE USUARIOS</p>
          </div>
          <form class="busc" action="/series/buscUser" method="GET">
              <label for="">EMAIL / NOMBRE DE USUARIO</label>
              <br>
              <input type="text" name="busqueda" value="true" hidden> 
              <input class = "users" type="text" name="searchUser"  value="" required>
              <input type=image src="/images/PAGINA6/usuario.png" width="17" name="" value="" class="busc-user">
        
          </form>

        </div>

    </section>

    
    <section class="usuarios">
 <% if (usuarios.length != 0) { %>     
  <% for (let i = 0; i < usuarios.length; i++) { %>
    <li>
      <a href="/series/detalle/<%=usuarios[i].id_usuario%>"> 
        <%=usuarios[i].nombre_usuario%> <%=usuarios[i].apellido_usuario%>: <%=usuarios[i].email%> 
      </a>
    </li>
    <% } %> 
<% } else if(busqueda == "true")  { %> 

  <p> No encontramos ningún usuario, perdon! </p>
  <% } %> 
    </section>

    <!----------------------------------------------------------------------------------------------->





    <footer>
      <img src="/images/PAGINA6/LOGOMOVIFLY.png" alt="">
      <h3>Las mejores series para vos</h3>
    <div class="redes">
      <ul>
        <img src="" alt="">
        <div class="lista">
          <li>
            <a href="https://www.facebook.com/"><img src="/images/PAGINA6/facebook.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.twitter.com/"><img src="/images/PAGINA6/twitter.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.instagram.com/"><img src="/images/PAGINA6/instagram.png" alt=""></a>
          </li>
          <li>
            <a href="https://www.youtube.com/"><img src="/images/PAGINA6/youtube.png" alt=""></a>
          </li>
        </div>
      </ul>
    </div>
    <div class="ul-footer">
      <ul>
        <li class="primero">Contacto</li>
        <li>FAQ</li>
        <li>Política de condidencialidad</li>
        <li>Menciones legales</li>
      </ul>
    </div>
    </footer>
    <div class="post-footer">
        <img src="/images/PAGINA6/logoTMB.png" alt="">
        <div class="nombres">


        <label for="">Mariana Telechea</label>
        <label for="">Agostina Rivas</label>
        <label for="">Milagros Scipioni</label>
        
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
  </body>
</html>
