* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Questrial;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* -------- NAVEGADOR -------- */


.ul-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.li-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid black;
}
.li-logo a {
  display: flex;
  justify-content: center;
}

.logo {
  width: 28%;
  margin-bottom: 9px;
  margin-top: 10px;
}

.ul-menu {
  top: -1em;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 46%;
  position: relative;
  left: 26.5%;
}

.li-menu {
  list-style-type: none;
  font-size: 26px;
  font-family: PT Sans Narrow;
  padding: 0;
}

.li-menu a {
  text-decoration: none;
  color: black;
      padding: 0;
}

.li-menu a:hover {
  color: #ffac03;
  font-size: 1.3em;
      padding: 0;
}

label:hover {
  color: #ffac03;
  font-size: 1.3em;
      padding: 0;
}

div.elbuscador {
  text-align: center;
  margin-top: 19px;
}

#li-black {
  list-style-type: none;
  font-size: 31px;
  font-family: PT Sans Narrow;
  text-decoration: none;
  color: black;
  border: 0;
  text-transform: none;
      padding: 0;
}

#li-black:hover {
  color: #ffac03;
  font-size: 1.3em;
  text-transform: none;
      padding: 0;
}

/* // EL BOTON // */

form.buscador {
  position: relative;
}

form.buscador input.texto{
  width: 11%;
  height: 2em;
  border: 0;
  border-bottom: 1px solid #aba9a9;
  position: absolute;
  top: -11em;
  right: 3em;
  text-align: center;
  font-family: "PT Sans Narrow";
}

form input.boton {
  position: absolute;
  top: -11em;
  right: 3em;
}

/* ALERTA */

div.alert-light{
 background-color: #ffae04;
 border: 2px solid black;
 text-align: center;
 font-weight: bolder;
 color: black;
 padding: 0;
 font-family: "PT Sans Narrow"
}

div.alert-light{
 display: none;
}


/* BUSCADOR DE SERIES FAV */

.series-favoritas form input{
  width: 211%;
  height: 2em;
  background: #ffffff4a;
  border-radius: 14px;
  border-style: none;
}

.listado-favoritas h3 a{
  color: white;
  font-family: "PT Sans Narrow";
  font-size: 2em;
  font-variant-caps: all-small-caps;
}


.listado-favoritas h3 a:hover{
  text-decoration: none;
  color: #ffae04;
}


/* -------- SERIES FAVORITAS --------- */

.series-favoritas{
  background-color: black;
  text-align: center;
  font-family: "PT Sans Narrow";
}

.series-favoritas li{
  list-style-type: none;
}

.series-favoritas h1{
    margin-top: 30px;
    background-color: rgba(255, 174, 5, 0.84);
    width: 100%;
    text-align: center;
    height: 76px;
    font-size: 64px;
    color: white;
    font-family: 'PT Sans Narrow';
    border: dotted;
}

ul.listado-favoritas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.listado-favoritas li{
  width: 30%;
  justify-content: space-between;
}

.listado-favoritas img{
  max-width: 87%;
  padding: 0;
}

.listado-favoritas img:hover {
  border: 14px solid #ffae04;
  mix-blend-mode: luminosity;
}





/* -------- FOOTER --------- */


footer {
  border-radius: 58%;
  margin-top: 1%;
  background-color: #ffffff;
}


footer img {
  width: 26%;
  position: relative;
  left: 38%;
  margin-top: 18px;
}

footer h3 {
  font-family: PT Sans Narrow;
  text-align: center;
}


.lista {
  display: flex;
  justify-content: center;
}

.lista li img {
  width: 20%;
}

.lista li {
  list-style: none;
  width: 24%;
}

.ul-footer{
  border-top: 1px solid gainsboro;
  margin-top: 26px;
  border-bottom: 1px solid gainsboro;
}

.ul-footer ul{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 27px;
  font-family: "PT Sans Narrow"
}

.ul-footer ul li{
  padding-right: 22px;
  border-right: 1px solid black;
  padding-left: 27px;
}

.ul-footer ul li.primero{
  border-left: 1px solid black;
}

.post-footer {
  background-color: #000000eb;
  margin-top: 20px;
  display: flex;
  text-align: center;
}

.post-footer img{
  width: 13%;
  padding: 9px;
}

.nombres {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  justify-content: center;
  margin-left: 32%;

}

.nombres label {
  font-family: PT Sans Narrow;
}

#menu-mobile{
  display: none;
}


@media (min-width: 0px) and (max-width: 450px) {

  #menu-mobile{
    display: block;
  }

  body {
      font-family: Questrial;
      font-size: 1em;
      width: 70vh;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
  }

  #lostop5{
  width: 100%;
  display: flex;
  flex-direction: column;
  }

  .top-rated{
  width: 100%
  }

  .watch-now{
    width: 100%
  }

.ul-logo {
padding: 0;
}

.li-logo a img{
width: 33vh;
}

article.article-top5 a {
width: 47vh;
top: auto;
left: 14%;
position: relative;
margin: 2%;
border: solid 10px #F7C004;
}

#menu-mobile {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

#menu-desplegable {
    background-color: transparent;
    color: #333;
    border-color: #F7C004;
    border: 3px solid #F7C004;
    width: 27%;
    margin: 0 auto;
    display: block;

}

.ul-menu{
  display: none;
}

.noticias{
  width: 100%;
}

}


/* ----------------------------------------- PROGRAMACION 2 -------------------------------------------- */

ul.resenas{
display: flex;
flex-direction: column;
padding: 0;
align-items: center;
}

ul.resenas li{
  width: 40%;
  background: #ffffffc9;
  margin-bottom: 2%;
  list-style-type: none;
  color: black;
  padding-top: 1.5%;
}

div.mis_resenas{
    position: absolute;
    top: 5%;
    right: 0em;
    background-color: rgba(255, 174, 5, 0.84);
    width: 100%;
    text-align: center;
    height: 76px;
    font-size: 64px;
    color: white;
    font-family: 'PT Sans Narrow';
    border: dotted;
}

.series-favoritas div.edit_delete{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 4%;
  margin-left: -23px;
}

.series-favoritas div.edit_delete a{
  width: 16%;
    background: #ffffff4a;
    border-radius: 14px;
    color: black;
}