* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url(/images/PAGINA0/FONDO.png);
  padding-top: 14%;
  background-size: cover;
}

/* --------- INCIO ---------- */
.contenedor {
  width: 100%;
  background-color: rgba(135, 129, 118, 0.72);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  align-items: center;
    margin-top: -7%;
}

.logo {
  width: 53%;
  padding-left: 4%;
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 0;
}

.botones {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.ingreso {
  padding: 12px;
  width: 40%;
  border-radius: 41px;
  margin-bottom: 15px;
  background-color: rgba(255, 174, 5, 0.84);
  color: floralwhite;
  border: 0;
  font-family: PT Sans Narrow;
  font-size: 19px;
  text-decoration: none;
  text-align: center;
}

.registro {
  padding: 12px;
  width: 40%;
  border-radius: 41px;
  margin-bottom: 15px;
  background-color: rgba(255, 174, 5, 0.84);
  color: floralwhite;
  border: 0;
  font-family: PT Sans Narrow;
  font-size: 19px;
  text-decoration: none;
  text-align: center;
}

h2{
  font-family: "PT Sans Narrow";
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

h3{
  font-family: "PT Sans Narrow";
  margin: 0 auto;
  color: white;
  font-size: 75px;
}

a:hover{
  background: black;
}
